<html>
    <head>
        <title>Vico's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Vico's Blog</a></h1>
        </div>

        <div>
            <p>published: 13.05.2017, 12:14</p>
            <h2><a href="">Posteando por primera vez</a></h2>
            <p>Too much coding makes Vico go crazy!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Hola a todos! sigamos pythoneando!</p>
        </div>
    </body>
</html>
